body{
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
modal{
    background-color:rgb(0, 0, 0);
    opacity: 40%;
    width: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
}
